.k3cms_blog_blog_posts_index
  %h1 News

  - if edit_mode? and can?(:create, K3cms::Blog::BlogPost)
    %p
      = form_for blog_post=K3cms::Blog::BlogPost.new do |f|
        = f.submit 'Create new post'

  - @blog_posts.each do |blog_post|
    %div{:class => dom_class(blog_post), :id => dom_id(blog_post)}
      %h3.title
        - if edit_mode? and can?(:edit, K3cms::Blog::BlogPost)
          = inline_editable('span', blog_post, :title) do
            = blog_post.title.html_safe
        - else
          = link_to blog_post.title.html_safe, k3cms_blog_blog_post_path(blog_post)

      = render_cell('k3cms/blog/blog_posts', :published_status, :blog_post => blog_post)

      .date
        - if edit_mode? and can?(:edit, K3cms::Blog::BlogPost)
          = inline_editable('span', blog_post, :date) do
            = blog_post.date
        - else
          = blog_post.date && blog_post.date.to_s(:long)

      .summary
        - if edit_mode? and can?(:edit, K3cms::Blog::BlogPost)
          = inline_editable('div', blog_post, :summary) do
            = blog_post.summary.html_safe
        - else
          = blog_post.summary.html_safe

      .below_summary
        - if edit_mode? and can?(:edit, K3cms::Blog::BlogPost)
          - if can?(:edit, K3cms::Blog::BlogPost)
            = link_to   'Continue &raquo;'.html_safe, polymorphic_url(blog_post, :focus => "##{dom_id(blog_post)} .editable[data-attribute=body]", :only_path => true)
          - if can?(:destroy, K3cms::Blog::BlogPost)
            = button_to 'Delete',                     polymorphic_url(blog_post, :only_path => true), :confirm => 'Are you sure?', :method => :delete

        - else
          .view_more
            = link_to   'View more', url_for(blog_post)

        .post_bottom
          -# Comments, etc. go here
