%h2 Post Information
%div{:class => dom_class(@blog_post), :id => dom_id(@blog_post)}
  .title
    %label Title:
    = inline_editable('span', @blog_post, :title) do
      = raw @blog_post.title

  .url
    %label URL:
    = inline_editable('span', @blog_post, :url) do
      = raw @blog_post.url

  .summary
    %label Summary:
    = inline_editable('div', @blog_post, :summary) do
      = raw @blog_post.summary
