<% content_for :last_saved_status do %>
  <%= render_cell('k3/blog/blog_posts', :last_saved_status, :blog_post => @blog_post) %>
<% end %>

<% content_for :title do %>
  <%= strip_tags @blog_post.title %>
<% end %>
<h1>
  <% if edit_mode? %>
    <span class="editable" data-url="<%= k3_blog_blog_post_path(@blog_post) %>" data-object="k3_blog_post" data-attribute="title" data-formtype="inline_editor">
      <%= raw(@blog_post.title) %>
    </span>
  <% else %>
    <%= raw(@blog_post.title) %>
  <% end %>
</h1>

<% if edit_mode? %>
  <div class="editable" data-url="<%= k3_blog_blog_post_path(@blog_post) %>" data-object="k3_blog_post" data-attribute="body" data-formtype="inline_editor">
    <%= raw(@blog_post.body) %>
  </div>
<% else %>
  <%= raw(@blog_post.body) %>
<% end %>

<% if edit_mode? %>
  <script type="text/javascript">
    // for other non-inline-editor fields:
    jQuery(".rest_in_place").rest_in_place();

    initInlineEditor();
  </script>
<% end %>

