.k3_blog_blog_posts_show
  - content_for :last_saved_status do
    = render_cell('k3/blog/blog_posts', :last_saved_status, :blog_post => @blog_post)
  - content_for :title do
    = strip_tags @blog_post.title

  - if edit_mode?
    - k3_ribbon_add_item do
      %li.post_information.link
        = link_to_function 'Post Information', "jQuery('.post_information.drawer').slideToggle()"
    - k3_ribbon_add_drawer :post_information do
      = render_cell('k3/blog/blog_posts', :metadata_drawer, :blog_post => @blog_post)

  %div{:class => dom_class(@blog_post), :id => dom_id(@blog_post)}
    = render_cell('k3/blog/blog_posts', :published_status, :blog_post => @blog_post)
    %h1
      - if edit_mode?
        = inline_editable('span', @blog_post, :title) do
          = raw(@blog_post.title)
      - else
        = raw(@blog_post.title)

    - if edit_mode?
      = inline_editable('div', @blog_post, :body) do
        = raw(@blog_post.body)
    - else
      = raw(@blog_post.body)
